@page
@model MaerskLineCMS.Pages.Booking.IndexModel

@{
    ViewData["Title"] = "Shipment Booking";
    Layout = "~/Pages/Shared/_Layout_Agent.cshtml";
}

<h1>Booking Master Record</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Booking ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BOOKING[0].TEU)
            </th>
            <th>
                Customer ID
            </th>
            <th>
                Shipment ID
            </th>
            <th>
                Booked By
            </th>
            <th>
                Booked Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BOOKING)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TEU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shipment_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booked_By)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booked_Date)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Booking_ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Booking_ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Booking_ID">Delete</a> |
                    <a asp-page="/Item/Create" asp-route-id="@item.Booking_ID">Create Item</a>
                </td>
            </tr>
        }
    </tbody>
</table>
